<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Exercise Generator | Home</title>

    <link rel="stylesheet" href="/css/main.css">
    <script src="https://kit.fontawesome.com/a6e87818b4.js" crossorigin="anonymous"></script> <!-- Includes icons from Font Awesome -->
  </head>
  <body>

    <div id="wholePage">
      <div class="container">
        <nav>

          <div id="navTop">
            <p>Workout Generator</p>
            <i class="fas fa-dumbbell"></i>
          </div>

          <div id="navBottom">
            <a href="/home" id="chosen">Home</a>
            <a href="/addExercise">Add An Exercise</a>
            <a href="/generateWorkout">Generate A Workout</a>
          </div>
          
        </nav>

        <div id="workouts">
          <% if(exercises.length > 0) { %>
            <div class="fitContent">
              <% for(let i = 0; i < exercises.length; i++){ %>
                <div class="exerciseContainer">
                  <p><%= exercises[i].name %></p>
                  <p><%= exercises[i].bodyParts %></p>
                  <p>Reps: <%= exercises[i].reps %></p>
                  <p>Diffuculty: <%= exercises[i].difficulty %></p>
                  <a href="<%= exercises[i].instructions %>" target="_blank">Instructions</a>
                </div>
              <% } %>
            </div>

          <% } else {%>
            <div id="noWorkout">
              <p>There are currently no workouts!</p>
              <a href="/addExercise">Go and make one!</a>
            </div>
          <% } %>
        </div>
      </div>
    </div>

  </body>
</html>
